<nav class="navbar navbar-expand-sm navbar-dark px-5 py-1">
    <a class="navbar-brand" href="#">GAME ON</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav m-auto my-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link mx-3" routerLink ='/home' routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-3" routerLink = '/join' routerLinkActive="active">Join Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-3" routerLink = '/contact' routerLinkActive="active">Contact Us</a>
            </li>
        </ul>
        
    </div>
</nav>
