<section id="join" class="py-2">
    <div class="container text-center text-danger py-5">
        <h2>WHY JOIN US?</h2>
        <h4>Experienced players all around the world</h4>
        <div class="owl-carousel owl-theme py-3">
                <div class="item"><img src="../../assets/two.jpg"></div>
                <div class="item"><img src="../../assets/three.jpg"></div>
                <div class="item"><img src="../../assets/two.jpg"></div>
                <div class="item"><img src="../../assets/three.jpg"></div>
                <div class="item"><img src="../../assets/two.jpg"></div>
                <div class="item"><img src="../../assets/three.jpg"></div>
                <div class="item"><img src="../../assets/two.jpg"></div>
                <div class="item"><img src="../../assets/three.jpg"></div>
                <div class="item"><img src="../../assets/two.jpg"></div>
                <div class="item"><img src="../../assets/three.jpg"></div>
                <div class="item"><img src="../../assets/two.jpg"></div>
                <div class="item"><img src="../../assets/three.jpg"></div>
            </div>
            <button class="btn btn-danger bg-transparent text-danger">Join our team >></button>
            <p class="text-muted mt-3">Selection on basis of Live Matches!</p>
    </div>

</section>